# Database
DATABASE_URL=postgresql://sub_user:sub_pass@localhost:5432/sub_db

# Redis
REDIS_URL=redis://localhost:6379

# Server
PORT=3000
APP_URL=https://your-public-url.ngrok-free.app

# Nomba
NOMBA_BASE_URL=https://api.nomba.com
NOMBA_CHECKOUT_PATH=/v1/checkout/order
NOMBA_CLIENT_ID=your-nomba-client-id
NOMBA_CLIENT_SECRET=your-nomba-client-secret
NOMBA_ACCOUNT_ID=your-nomba-account-id
NOMBA_SUB_ACCOUNT_ID=your-nomba-sub-account-id
NOMBA_WEBHOOK_SECRET=your-nomba-webhook-secret
